@import '../../../style/_common.scss';
.banner{
    width: 100%;
}
[nz-carousel-content] {
    text-align: center;
    margin: 0 auto;
    height: 640px;
    line-height: 640px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
  }