/* You can add global styles to this file, and also import other style files */
@import '_common.scss';
html,
body {
    font-size: 12px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    height: auto!important;
}
// 图片 展示 pc mobile
.position-relative{
  position: relative;
  left: 0;
  top: 0;
}
a {
    &,
    &:hover {
        color: #292b2c;
        text-decoration: none;
        cursor: pointer;
    }
    &:hover {
        color: 202020;
    }
}

.text-white {
    a,
    a:hover {
        color: #fff;
    }
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
input,
textarea,
a,
p {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
    &:active {
        text-decoration: none !important;
    }
    &:visited {
        text-decoration: none !important;
    }
    &:focus {
        text-decoration: none !important;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.commColor {
    color: $comcolor;
}

.icon-ppt {
    color: $pptcolor;
}

.icon-word {
    color: $wordcolor;
}

.icon-excel {
    color: $excel;
}

.icon-file {
    color: $file;
}

.icon-pdf {
    color: $pdf;
}

.icon-txt {
    color: $txt;
}

.ant-btn {
    &:hover,
    &:focus,
    &:active,
    &:visited {
        box-shadow: none;
    }
}

.ant-btn-primary {
    background: $comcolor !important;
    border-color: $comcolor !important;
    &:hover,
    {
        background-color: $color-hover !important;
        border-color: $color-hover !important;
        color: #fff !important;
    }
    &:focus,
    &:active,
    &:visited {
        background-color: $comcolor !important;
        border-color: $comcolor !important;
        color: #fff !important;
    }
}

.ant-input-affix-wrapper {
    &:hover,
    &:focus,
    &:active,
    &:visited {
        .ant-input:not(.ant-input-disabled) {
            border-color: $comcolor !important;
            box-shadow: none;
        }
    }
    .ant-input {
        &:hover,
        &:focus,
        &:active,
        &:visited {
            border-color: $comcolor!important;
            box-shadow: none;
        }
    }
}

.ant-input-wrapper {
    .ant-input {
        &:hover,
        &:focus,
        &:active,
        &:visited {
            border-color: $comcolor !important;
            box-shadow: none;
        }
    }
}

.ant-checkbox-wrapper {
    &:hover .ant-checkbox-inner,
    .ant-checkbox :hover .ant-checkbox-inner,
    .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: $comcolor !important;
    }
}

.ant-checkbox-checked {
    .ant-checkbox-inner,
    .ant-checkbox-indeterminate .ant-checkbox-inner {
        background-color: $comcolor !important;
        border-color: $comcolor !important;
    }
}

.ant-checkbox-indeterminate {
    .ant-checkbox-inner {
        background-color: $comcolor !important;
        border-color: $comcolor !important;
    }
}

.ant-radio-wrapper {
    &:hover .ant-radio-inner,
    .ant-radio :hover .ant-radio-inner,
    .ant-radio-input:focus+.ant-radio-inner {
        border-color: $comcolor !important;
    }
}

.ant-radio-checked {
    .ant-radio-inner {
        border-color: $comcolor !important;
        &:hover {
            border-color: $comcolor !important;
        }
        &::after {
            background: $comcolor !important;
        }
    }
}

.ant-select-selection {
    &:hover,
    &:focus,
    &:active,
    &:visited {
        box-shadow: none;
        border-color: $comcolor !important;
    }
}

.ant-select-open .ant-select-selection {
    &:hover,
    &:focus,
    &:active,
    &:visited {
        box-shadow: none;
        border-color: $comcolor !important;
    }
    box-shadow: none !important;
    border-color: $comcolor !important;
}

.ant-pagination {
    .ant-pagination-prev {
        &:hover {
            border-color: $comcolor;
        }
        &:hover a {
            color: $comcolor;
        }
    }
    .ant-pagination-next {
        &:hover {
            border-color: $comcolor;
        }
        &:hover a {
            color: $comcolor;
        }
    }
    .ant-pagination-item {
        &:focus,
        &:hover,
        &:active,
        &:visited {
            border-color: $comcolor;
        }
        &:hover a {
            color: $comcolor;
        }
    }
    .ant-pagination-item-active {
        background-color: $comcolor !important;
        border-color: $comcolor;
        color: #fff;
        &:focus,
        &:hover,
        &:active,
        &:visited {
            background-color: $comcolor !important;
            border-color: $comcolor;
        }
        &:hover a {
            color: #fff;
        }
    }
}

.ant-spin {
    color: $comcolor !important;
    .ant-spin-dot {
        i {
            background-color: $comcolor !important;
        }
    }
}

.nz-overlay-container {
    height: 0  \9\0 !important;
    .wechat-li-box {
        .ant-dropdown-menu {
            border: none;
        }
        .ant-dropdown-menu-submenu-title {
            padding: 0;
            &:hover {
                background-color: none!important;
            }
            &:after {
                content: '\e620';
                line-height: 26px;
            }
        }
    }
    .ant-dropdown-menu {
        border: 1px solid #ddd;
        >li {
            padding: 8px 15px;
            a {
                color: #333;
            }
            &:hover {
                background-color: #f7f5f5;
                a {
                    color: $comcolor;
                }
            }
        }
        .title {
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            margin: 10px 0 0 10px;
        }
        .img {
            border-radius: 50%;
            padding: 6px;
            border: 1px solid #ccc;
            margin-right: 5px;
        }
    }
    .head-menu-box {
        //home下拉菜单样式
        position: relative;
        width: 130px;
        top: 8px;
        right: 20px;
        background-color: #fff;
        border: 1px solid $comcolor;
        &::before {
            position: absolute;
            top: -8px;
            right: 37px;
            content: '';
            width: 14px;
            height: 14px;
            transform: rotate(45deg);
            border: 1px solid $comcolor;
            border-right: none;
            border-bottom: none;
            z-index: 444;
            background-color: #fff;
        }
        .menu-title {
            border-bottom: 1px solid #d8d8d8;
            font-size: 16px;
            text-indent: 11px;
            padding: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        li {
            text-indent: 26px;
            i {
                font-size: 16px;
            }
            &:hover {
                background-color: $comcolor;
                a {
                    color: #fff;
                    background: none;
                }
            }
            a {
                background: none;
                display: block;
                font-size: 16px;
                color: #999;
                position: relative;
                .float_br {
                    position: absolute;
                    top: 11px;
                    left: -17px;
                }
            }
        }
    }
}

.ellipsis-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-all {
    position: relative;
    line-height: 1.4em;
    // height: 4.2em;
    overflow: hidden;
    &:after {
        content: "...";
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 20px 1px 45px;
        // background: url('../../assets/learner/ellipsis_bg.png') repeat-y;
    }
}
.com-opacity{
    background: #fff;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}

.ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content-animated {
    display: block !important;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    margin-left: auto !important;
}

:not(.ant-tabs-vertical).ant-tabs>.ant-tabs-content>.ant-tabs-tabpane-inactive {
    display: none !important;
}