.pic{
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;
    div{
        margin-right: 60px;
        nz-card{
            width: 360px;
        }

    }
    div:last-child{
        margin-right: 0;
    }
}