@import '../../../../style/_common.scss';
.nav{
    font-size: 16px;
    color: $bgfff;
    // background-image: url('/assets/images/bgpic.jpg');
    background-position: 50% -70%;
    ul{
       height: 80px;
       line-height: 80px;
    }
}